<nav class="navbar">
  <div class="logo">Workedin</div>
  <link rel="stylesheet" href="../css/style.css">

  <ul class="nav-links">
    <li><a href="/">🏠 Início</a></li>
    <li><a href="/rede">👥 Rede</a></li>
    <li><a href="/vagas">💼 Vagas</a></li>
    <li><a href="/mensagens">💬 Mensagens</a></li>
</ul>


  <input
    type="text"
    placeholder="Pesquisar profissionais..."
    class="search-box"
  />
</nav>

<main class="rede-container">

    <aside class="perfil-lateral">
        <img src="https://via.placeholder.com/120" class="foto-perfil">

        <h2>João Silva</h2>
        <p>Desenvolvedor Front-End</p>

        <button>Editar Perfil</button>
    </aside>

    <section class="sugestoes">

        <h2>Sugestões de conexão</h2>

        <div class="usuario">
            <img src="https://via.placeholder.com/60">
            <div>
                <h3>Ana Souza</h3>
                <p>UX Designer</p>
            </div>
            <button>Conectar</button>
        </div>

        <div class="usuario">
            <img src="https://via.placeholder.com/60">
            <div>
                <h3>Lucas Santos</h3>
                <p>Back-End</p>
            </div>
            <button>Conectar</button>
        </div>

        <div class="usuario">
            <img src="https://via.placeholder.com/60">
            <div>
                <h3>Maria Costa</h3>
                <p>RH</p>
            </div>
            <button>Conectar</button>
        </div>

    </section>

    <section class="feed-rede">

        <h2>Atividades da Rede</h2>

        <div class="post">
            <h3>Pedro Oliveira</h3>
            <p>Acabei de concluir um curso de JavaScript 🚀</p>

            <button>Curtir</button>
            <button>Comentar</button>
        </div>

        <div class="post">
            <h3>Fernanda Lima</h3>
            <p>Estamos contratando Desenvolvedor Full Stack.</p>

            <button>Curtir</button>
            <button>Comentar</button>
        </div>

    </section>

</main>